<!--<template>-->
<!--<section class="our-network home-network-bg">-->
<!--<div class='container has-text-centered network-container'>-->
<!--<h1 class="is-size-3 has-text-weight-bold m-2 network-title is-size-5-touch is-size-5-mobile">Our Network</h1>-->
<!--<div class="sites m-2 has-text-centered-touch">-->
<!--<nav class="level">-->
<!--<div class="level-item">-->
<!--<div class="m-2">-->
<!--<a target="_blank" href="http://jusbroadcasting.com/jus-punjabi/">-->
<StackLayout>

    <Image :src="src" stretch="none"/>
</StackLayout>
<!--<Image src="https://art.nativescript-vue.org/NativeScript-Vue-White-Green.png" stretch="none" />-->
<!--<Image src="https://art.nativescript-vue.org/NativeScript-Vue-White-Green.png" stretch="none" />-->
<!--<Image src="https://art.nativescript-vue.org/NativeScript-Vue-White-Green.png" stretch="none" />-->


<!--<img src="../../src/assets/images/network/1.png" alt="Our Network">-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="level-item">-->
<!--<div class="m-2">-->
<!--<a target="_blank" href="http://jus24x7.com/">-->
<!--<img src="../../../assets/images/network/2.png" alt="Our Network">-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="level-item">-->
<!--<div class="m-2">-->
<!--<a target="_blank" href="http://jusbroadcasting.com/jus-one/">-->
<!--<img src="../../../assets/images/network/3.png" alt="Our Network">-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="level-item">-->
<!--<div class="m-2">-->
<!--<a target="_blank" href="http://9xtashan.in/">-->
<!--<img src="../../../assets/images/network/4.png" alt="Our Network">-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="level-item">-->
<!--<div class="m-2">-->
<!--<a target="_blank" href="http://jusbroadcasting.com/jus-radio/">-->
<!--<img src="../../../assets/images/network/5.png" alt="Our Network">-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--</nav>-->
<!--</div>-->
<!--</div>-->
<!--</section>-->
<!--</template>-->

<script>
    export default {
        name: 'Network',
        data() {
            return {
                src: 'https://art.nativescript-vue.org/NativeScript-Vue.png'
            }
        },
    }
</script>
<!--<script>-->
<!--import webViewModule from "tns-core-modules/ui/web-view";-->

<!--export default {-->
<!--data() {-->
<!--return {-->
<!--src: '~/Network.html'-->
<!--}-->
<!--},-->
<!--methods: {-->
<!--onLoadFinished(args) {-->
<!--let message;-->
<!--if (!args.error) {-->
<!--message = "WebView finished loading " + args.url;-->
<!--} else {-->
<!--message = "Error loading " + args.url + ": " + args.error;-->
<!--}-->
<!--}-->
<!--}-->
<!--}-->
<!--</script>-->