.home-network-bg {
  background-color: #c8ced3;
}

section.home-network-bg > div.network-container {
  padding: 2rem 0 3rem 0;
}

div.network-container > h1.network-title {
  color: rgb(66, 94, 165);
}